html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body .btn {
  cursor: pointer;
  display: flex;
  color: black;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
body #abd {
  padding: 13px 33px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 18px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  background-color: lightblue;
  border: 1px solid lightgray;
  opacity: 0.6;
  box-shadow: 4px 4px 4px rgba(4, 77, 125, 0.422);
  cursor: pointer;
}
body #abd:hover {
  color: #6394c2;
  transition: 0.5s;
  border: 1px solid rgb(121, 206, 235);
}
body .main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #vant {
  width: 100vw;
  height: 100vh;
}

#vant {
  width: 100vw;
  height: none;
}

.about {
  text-align: center;
  max-width: 400px;
  height: 555px;
  transition: 0.5s;
  margin: 0 auto;
  border: 1px solid lightgray;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: absolute;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.1);
  top: 12%;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.about__top {
  width: 140px;
  height: 140px;
  margin: 7px auto;
}
.about__image {
  width: 135px;
  height: 135px;
  border: 1px solid lightgray;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}
.about__link {
  display: flex;
  align-items: center;
}
.about__image:hover {
  transition: 0.6s;
  width: 138px;
  height: 138px;
}
.about__text {
  padding-top: 18px;
  max-width: 410px;
  margin: 0 auto;
  line-height: 28px;
}
.about__tittle {
  font-size: 16px;
  color: black;
  opacity: 0.8;
}
.about__tittle:hover {
  color: blue;
}
.about__list {
  padding-left: 45px;
  margin-top: -15px;
}
.about__page {
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.about .block__btn {
  padding: 13px 50px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 18px;
  box-shadow: 0px 20px 30px;
  background-color: lightblue;
  border: 1px solid lightgray;
  box-shadow: 4px 4px 4px rgba(4, 77, 125, 0.422);
  opacity: 0.6;
  cursor: pointer;
}
.about .block__btn:hover {
  color: #6394c2;
  transition: 0.5s;
  border: 1px solid rgb(121, 206, 235);
}

.icon {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: #622bcf;
  opacity: #622bcf 0.8;
}

.icon:hover {
  color: blue;
}

.block {
  display: block;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .about {
    max-width: 345px;
    height: 510px;
    top: 20%;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .about__image {
    width: 100px;
    height: 100px;
  }
  .about__top {
    width: 105px;
    height: 105px;
  }
  .about__image:hover {
    width: 105px;
    height: 105px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__list {
    margin-top: 15px;
  }
  .about__tittle {
    font-size: 16px;
  }
  .about__tittle {
    line-height: 40px;
    margin: 0;
  }
  .about__page {
    display: flex;
  }
  .about .icon {
    font-size: 12px;
  }
  .about__page {
    max-width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .about #abd {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
  }
  .about .block__btn {
    padding: 0;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.home {
  text-align: center;
  width: 400px;
  height: 540px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
}
.home__image {
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 50%;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}
.home__logo {
  padding-top: 40px;
  width: 205px;
  height: 205px;
  margin: 0 auto;
  color: #fff;
}
.home__image:hover {
  width: 205px;
  height: 205px;
  transition: 0.5s;
}
.home__tittle {
  font-size: 27px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
}
.home__paragraph {
  margin-top: -10px;
  font-size: 17px;
  color: #dee2e3;
}
.home__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.home__item {
  padding: 35px 25px;
  margin: 0 auto;
  font-size: 25px;
  width: 30px;
  height: 30px;
  color: #fff;
}
.home__telephone {
  width: 300px;
  height: 50px;
  border: 1px solid rgb(121, 206, 235);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(4, 77, 125, 0.422);
  background-color: lightblue;
}
.home__input {
  color: black;
  font-size: 22px;
}
.home__input:hover {
  color: rgba(3, 42, 72, 0.669);
  transition: 0.2s;
}
.home__link {
  font-size: 27px;
  color: #519ec4;
}
.home__link :hover {
  font-size: 33px;
  color: blue;
  transition: 0.2s;
}

.block {
  display: block;
}

@media screen and (max-width: 768px) {
  .home {
    width: 350px;
    height: 500px;
  }
  .home__image {
    width: 170px;
    height: 170px;
  }
  .home__image:hover {
    width: 173px;
    height: 173px;
  }
  .home__logo {
    width: 175px;
    height: 175px;
    margin: 0 auto;
  }
  .home__tittle {
    font-size: 27px;
    font-weight: 400;
  }
  .home__paragraph {
    font-size: 16px;
  }
  .home__list {
    width: 130px;
    margin: 0 auto;
  }
  .home__item {
    padding-left: 15px;
  }
}
.help {
  max-width: 400px;
  height: 555px;
  transition: 0.5s;
  margin: 0 auto;
  border: 1px solid lightgray;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: absolute;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.1);
  top: 12%;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.help__top {
  text-align: center;
}
.help__subbox {
  display: flex;
  justify-content: center;
}
.help__text {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}
.help__title {
  margin-bottom: 10px;
  font-size: 26px;
  margin-top: 7px;
  font-weight: 600;
  text-align: center;
}
.help__line {
  width: 70px;
  height: 1.5px;
  border-radius: 6px;
  background-color: black;
  opacity: 0.4;
}
.help__paragraph {
  margin-top: 5px;
  margin-bottom: 5;
  font-size: 18px;
  width: 350px;
  text-align: center;
  opacity: 0.7;
}
.help__box {
  display: flex;
  justify-content: center;
}
.help__button {
  padding: 15px 40px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 19px;
  border: 1px solid #d1e2e3;
  opacity: 0.7;
}
.help__button:hover {
  opacity: 1;
  border: 1px solid lightblue;
  transition: 0.5s;
}
.help__btnbox {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.help .block__btn {
  padding: 15px 40px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 19px;
  border: 1px solid #d1e2e3;
  background-color: lightblue;
  opacity: 0.7;
}
.help .block__btn:hover {
  opacity: 1;
  border: 1px solid lightblue;
  transition: 0.5s;
}
.help form {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: center;
  margin: 0 auto;
}
.help textarea {
  width: 330px;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 18px;
}
.help input {
  width: 250px;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-left: 15px;
  background-color: #f1f2f6;
  font-size: 17px;
}

@media only screen and (max-width: 400px) {
  .help {
    max-width: 360px;
    position: absolute;
    height: 527px;
    top: 20%;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .help form {
    max-width: 250px;
  }
  .help textarea {
    max-width: 230px;
  }
  .help__btnbox {
    width: 200px;
  }
  .help__button {
    padding: 15px 15px;
  }
  .help .block__btn {
    padding: 15px 15px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=main.css.map */