.home{
    text-align: center;
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    // border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(2px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    position: relative;
    &__image{
        width: 250px ;
        height: 250px;
        border: 1px solid lightgray;
        border-radius: 50%;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
        
    }
    &__logo{
        padding-top: 10px;
            width: 270px;
            height: 270px;
            margin: 0 auto;
            color: #fff;
    }
    &__image:hover{
        width: 255px;
        height: 255px;
        transition: 0.2s;
    }
    &__tittle{
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;   
        color: #fff;
        
    }
    &__paragraph{
        font-size: 18px;
        color: #fff;
        
    }
    &__list{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    &__item{
        padding: 30px;
        font-size: 25px;
        
        width: 30px;
        height: 30px;
        // color: blue;
        color: #fff;
    }
    &__telephone{
        width: 300px ;
        height: 50px;
        border: 1px solid;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
        background-color: lightblue;
    }
    &__input{
        color: black;
        font-size: 22px;
        
    }
    &__input:hover{
        color: rgba(3, 42, 72, 0.669);
        transition: 0.2s;
    }
    &__link{
        font-size: 27px;
        color:lightgray;
        :hover{
            font-size: 33px;
            color: blue    ;
            transition: 0.2s;
        }
    }
}
.block{
    display: block;
}
@media only screen and (max-width){
    .home{
        max-width: 390px;
    }
}