.home{
    text-align: center;
    width: 400px;
    height: 540px;  
    // border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(9px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative; 
    &__image{
        width: 200px ;
        height: 200px;
        border: 1px solid lightgray;
        border-radius: 50%;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
        
    }
    &__logo{
        padding-top: 10px;
        width: 205px;
        height: 205px;
        margin: 0 auto;
        color: #fff;
    }
    &__image:hover{
        width: 205px;
        height: 205px;
        transition: 0.5s;
    }
    &__tittle{
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;   
        color: #fff;
        
    }
    &__paragraph{
        font-size: 17px;
        color: #fff;
        
    }
    &__list{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    &__item{
        padding: 35px 25px;
        margin: 0 auto;
        font-size: 25px;
        
        width: 30px;
        height: 30px;
        // color: blue;
        color: #fff;
    }
    &__telephone{
        width: 300px ;
        height: 50px;
        border: 1px solid;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
        background-color: lightblue;
    }
    &__input{
        color: black;
        font-size: 22px;
        
    }
    &__input:hover{
        color: rgba(3, 42, 72, 0.669);
        transition: 0.2s;
    }
    &__link{
        font-size: 27px;
        color:#519ec4;
        :hover{
            font-size: 33px;
            color: blue    ;
            transition: 0.2s;
        }
    }
}
.block{
    display: block;
}
@media  screen and (max-width:768px){
    .home{
        width: 350px;
        height: 500px;
        &__image{
            width: 170px;
            height: 170px;
            
        }
        &__image:hover{
            width: 173px;
            height: 173px;
        }
        &__logo{
            width: 175px;
            height: 175px;
            margin: 0 auto;
        }
        &__tittle{
            font-size: 27px;
            font-weight: 400;
        }
        &__paragraph{
            font-size: 16px;
        }
        &__list{
            width: 130px;
            margin: 0 auto;
            // margin-left: ;
            
        }
        &__item{
            padding-left: 15px;
        }
    }
}